<h1>About This App</h1>

This app was made by UpWiSE for Hacktoberfest 2024. <br><br>

The course referenced for building the initial app is from <a href="https://www.youtube.com/watch?v=fmyvWz5TUWg">freeCodeCamp's YouTube channel</a>. <br><br>

UpWiSE SC is a professional networking and upskilling group for supporting women throughout their technical careers.  Learn more about UpWiSE at <a href="https://upwisesc.org">UpWiSESC.org</a>.