<h1>Welcome to the Course Tracker</h1>
<p>This is a simple Ruby on Rails app for tracking online coursework.  This is a work in progress for <a href="https://pinnate-goldenrod-da6.notion.site/Hacktoberfest-2024-1180faf7365880f78958dee6b52c7937?pvs=4">Hacktoberfest 2024</a>.  This project is initiated and hosted by <a href="https://upwisesc.org">UpWiSE</a>.</p>
